<p>Informations du ticket</p>
<p>Identifiant du ticket: {{ ticket_id }}</p>
<p>Status du ticket: {{ ticket_state }}</p>
<p>Demande de l'utilisateur: {{ ticket_tag }}</p>
<p>Informations de l'utilisateur: {{ user_name }}</p>
<p>Email de l'utilisateur: {{ user_mail }}</p>
<br>

<p>Nouveau message de {{ user_name }}: {{ message }}</p>